.color-dark{
    color: #18191D;
}
.bg-color-dark{
    background-color: #18191D;
}
.color-gold{
    color: #83735C;
}
.bg-color-gold{
    background-color: #83735C;
}
.color-darkbrown{
    color: #A4998B;
}
.bg-color-darkbrown{
    background-color: #A4998B;
}
.color-lightbrown{
    color: #C5C0BB;
}
.bg-color-lightbrown{
    background-color: #C5C0BB;
}
.color-snowwhite{
    color: #E6E7EB;
}
.bg-color-snowwhite{
    background-color: #E6E7EB;
}
.color-white{
    color: #FFFFFF;
}
.bg-color-white{
    background-color: #FFFFFF;
}
